.Reinsdyr {
        max-width: 100%;
        height: auto;
      }

body{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: purple;
    background-color: aquamarine;
}